@model User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang='en' class=''>
<head>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form asp-action="Login" class="box">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <h1>Giriş Yap</h1>
                            <input asp-for="Mail" type="text" class="form-control" placeholder="Eposta" />
                            <input asp-for="Password" type="password" placeholder="Şifre">
                            <input type="submit" value="Giriş yap">
                            <a class="forgot text-muted" href="">Şifremi unuttum</a>
                            <a class="forgot text-muted" href="/Account/Register">Kayıt ol</a>
                        </div>
                        @*<h1>Giriş yap</h1>
                        <p class="text-muted"> Lütfen kayıtlı epostanızı ve şifrenizi giriniz.</p> <input type="text" name="" placeholder="Eposta"> <input type="password" name="" placeholder="Şifre">  <input type="submit" name="" value="Giriş yap" href="#"> <a class="forgot text-muted" href="/Account/Register">Kayıt ol!</a>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>